.img-box {
    scroll-snap-align: start;
    height: 92vh;
    width: 100vw;
  }
  @media (max-width: 600px) {
    .img {
      height: 60vh;
      width: 80vw;
    }
  }
  .welcome{
    color: white;
    background-color: black;
    height: 92vh;
    width: 100vw;
  }